#accel-1-canvas, #accel-2-canvas, #accel-3-canvas, #accel-4-canvas {
	margin-left: auto;
	margin-right: auto;
	min-width: 90%;
	/*height: auto;*/
	height: 120px;
}

#myFlashContent {
	margin-left: auto;
	margin-right: auto;
	min-width: 50%;
	min-height: 70%;		
}

#flashIE {
	margin-left: auto;
	margin-right: auto;
	min-width: 50%;
	min-height: 70%;		
}