g.slider_context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}   

g.slider_context g.axis path {
	stroke-opacity: 0;
}

    g.context g.axis line {
	stroke-opacity: .1;
}

.axis path, .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

g.slider_context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}