#sent-node-canvas {
	margin-left: auto;
	margin-right: auto;
	min-width: 90%;
	/*height: auto;*/
	height: 400px;
}

#myFlashContent {
	margin-left: auto;
	margin-right: auto;
	min-width: 50%;
	min-height: 70%;		
}

#flashIE {
	margin-left: auto;
	margin-right: auto;
	min-width: 50%;
	min-height: 70%;		
}

svg {
	  font: 10px sans-serif;
}

.axis path,
.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
}

.brush .extent {
	  stroke: #fff;
	  fill-opacity: .125;
	  shape-rendering: crispEdges;
}